# Базовые структуры данных



## Домашнее задание 

### Описание домашнего задания и формат сдачи

В домашнем задании необходимо решить предложенные задачи по программированию – вписать свой код в ячейки после условий задач вместо комментария `### YOUR CODE HERE ###` в файле *jun_anl_data_structures.ipynb* и сохранить изменения, используя опцию *Save and Checkpoint* из вкладки меню *File* или кнопку *Save and Checkpoint* на панели инструментов. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) необходимо загрузить в личный кабинет обучающей онлайн платформы Skillbox (https://go.skillbox.ru/) и отправить на проверку.

**NB!** Во всех заданиях обязательно наличие выдачи.

## Индексация списка

In [2]:
L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

### 1.
Из приведенного выше списка списков выведите с помощью индексов число `7`.

In [36]:
L[0][0][6]

7

### 2.
Из приведенного выше списка списков выведите с помощью индексов число `49`.

In [38]:
L[2][1][2]

49

### 3.
Из приведенного выше списка списков выведите с помощью индексов число `78`.

In [40]:
L[-2][-2][-2][-1]

78

### 4.
Из приведенного выше списка списков выведите с помощью индексов (используя **отрицательные значения**) число `99`.

In [41]:
L[-1][-2]

99

### 5.
Из приведенного выше списка списков сделайте **срез** с числом `74`.

In [78]:
L[3:4][0][-3:-2]

[74]

### 6.
Из приведенного выше списка списков сделайте **срез** с числами `47, 48`.

In [83]:
L[2:3][0][1:2][0][1:2][0][::1]

[47, 48]

### 7.
Из приведенного выше списка списков сделайте **срез** с числами `77, 78`.

In [84]:
L[3:4][0][-2:-1][0][-2:-1][0][1:]

[77, 78]

## Функция range()

### 8.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[0, 1, 2, 3, 4]`

In [7]:
list(range(5))

[0, 1, 2, 3, 4]

### 9.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[3, 4]`

In [11]:
list(range(3, 5))

[3, 4]

### 10.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[4, 8, 12, 16]`

In [14]:
list(range(4, 17, 4))

[4, 8, 12, 16]

### 11.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[16, 12, 8, 4]`

In [16]:
list(range(16, 3, -4))

[16, 12, 8, 4]

### 12.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[0, 5, 10]`

In [18]:
list(range(0, 11, 5))

[0, 5, 10]

### 13.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[10, 5, 0]`

In [23]:
list(range(10, -1, -5))

[10, 5, 0]

### 14.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]`

In [24]:
list(range(-10, 0, 1))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

### 15.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[-10, -16, -22, -28, -34]`

In [25]:
list(range(-10, -35, -6))

[-10, -16, -22, -28, -34]

## Операторы и типы данных

Этот блок должен быть решен **БЕЗ** использования готовых функций и сторонних библиотек. Используйте операторы.

### 16.
Часы показывают время в формате h:mm:ss (количество часов (от 0 до 23), двузначное количество минут, двузначное количество секунд). Количество минут и секунд при необходимости дополняются до двузначного числа нулями.

Программа должна запрашивать количество секунд S, которое прошло с начала суток, и выводить в формате h:mm:ss, какое время будут показывать часы. <br><br>

*Формат ввода:* <br>
3600<br><br>

*Формат вывода:* <br>
1:00:00

In [1]:
seconds = int(input('Введите количество секунд: '))
days = seconds // 86400
seconds = seconds - days * 86400
hours = seconds // 3600
seconds = seconds - hours * 3600
first_minutes = seconds // 600
seconds = seconds - first_minutes * 600
second_minutes = seconds // 60
seconds = seconds - second_minutes * 60
first_seconds = seconds // 10
seconds = seconds % 10
print(hours, ':', first_minutes, second_minutes, ':', first_seconds, seconds, sep = '')

Введите количество секунд: 86399
23:59:59

### 17.
Машина выезжает на нулевой километр МКАД и едет по часовой стрелке с постоянной скоростью V километров в час. На каком километре МКАД машина окажется через T часов? 
<br> Длина МКАД: 109 км. <br><br> 

*Формат ввода:* <br>
60 <br>
1
<br><br>
*Формат вывода:* <br>
60

In [111]:
v = int(input('Введите скорость движения машины: '))
t = int(input('Введите время движения машины: '))
s = v * t
direct_km = s % 109
print(direct_km)

Введите скорость движения машины: 109
Введите время движения машины: 1
0

### 18.
Напишите программу, которая запрашивает целое пятизначное число и выводит сумму его цифр.

*Формат ввода:* <br>
11111
<br><br>
*Формат вывода:* <br>
5

In [3]:
number = int(input('Введите пятизначное число: '))
first_number = number // 10000
number = number - first_number * 10000
second_number = number // 1000
number = number - second_number * 1000
third_number = number // 100 
number = number - third_number * 100
fours_number = number // 10
number = number % 10
print(first_number + second_number + third_number + fours_number + number)

Введите пятизначное число: 12345
15

### 19.
Напишите программу, которая запрашивает целое четырехзначное число и меняет местами его две первые и две последние цифры.

*Формат ввода:* <br>
5236 
<br><br>
*Формат вывода:* <br>
3652

In [12]:
number = int(input('Введите целое четырехзначное число: '))
first_number = number // 1000
number = number - first_number * 1000 
second_number = number // 100
number = number - second_number * 100
third_number = number // 10
fours_number = number % 10
print(third_number, fours_number, first_number, second_number, sep = '')

Введите целое четырехзначное число: 5236
3652

### 20.
Напишите программу, которая на основании параметра D (сколько километров в день преодолевает машина), расчитывает сколько дней она затратит на путь длиной P километров.  <br><br>
*Формат ввода:* <br>
105 <br>
120
<br><br>
*Формат вывода:* <br>
2

In [59]:
d = int(input('Введите количество киллометров, преодолеваемое машиной за день: '))
p = int(input('Введите длину пути в киллометрах: '))
full_days = p // d
last_day = (d + p % d - 1) // d
days = full_days + last_day
print(int(days))

Введите количество киллометров, преодолеваемое машиной за день: 1
Введите длину пути в киллометрах: 105
105

### 21.
Напишите программу, которая считает, сколько рублей и копеек нужно заплатить за N авокадо, если один авокадо стоит R рублей и K копеек. <br><br>
*Формат ввода:* <br>
40 20 <br>
5
<br><br>
*Формат вывода:* <br>
201 руб. 00 коп.

In [42]:
rubles, kopek = map(int, input('Введите цену за один авокадо: ').split())
number = int(input('Введите количество авокадо: '))
rubles = rubles * number + kopek * number // 100
kopek = kopek * number % 100
print(rubles, 'руб.', kopek, 'коп.')

Введите цену за один авокадо: 40 20
Введите количество авокадо: 4
160 руб. 80 коп.

### 22.
Пусть организаторы мероприятия неправильно составили гугл-форму и просили людей указывать ФИО в неправильном порядке. Сначала спрашивали имя, потом отчество, затем фамилию. Напишите программу, которая будет переставлять ФИО в нужный порядок. <br> <br> 

*Формат ввода:* <br>
Иван Иванович Иванов<br><br>
*Формат вывода:* <br>
Иванов Иван Иванович

In [37]:
name, patronymic, second_name = map(str, input('Введите имя, фамилию и отчество: ').split())
print(second_name, name, patronymic)

Введите имя, фамилию и отчество: Иван Иванович Иванов
Иванов Иван Иванович

## Cловари и списки

### 23.
У вас есть список с заказом в ресторане. Напишите программу, которая меняет указанное по названию блюдо на другое. При этом новое блюдо в списке будет расположено на месте того, что было заменено.

*Формат ввода:* <br>
белое вино<br>
красное вино <br><br>
*Формат вывода:* <br>
`['красное вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']`

In [15]:
order = ['белое вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']

In [16]:
change_dish = input('Введите названиe блюда, которое необходимо заменить: ')
new_dish = input('Введите название нового блюда: ')
index_change_dish = order.index(change_dish)
order.remove(change_dish)
order.insert(index_change_dish, new_dish)
print(order)

Введите названиe блюда, которое необходимо заменить: белое вино
Введите название нового блюда: красное вино
['красное вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']

__________________
Вам дан словарь c расписанием на неделю.

In [105]:
diary = {'понедельник': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'вторник': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'среда': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'четверг': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'пятница': {
                          'утро': ['заехать в шиномонтаж', 'помыть машину'],
                          'день': [],
                          'вечер': ['поход в театр',  'ужин в кафе']
                                      },
        'суббота': {
                          'утро': [],
                          'день': [],
                          'вечер': []
                                      },
        'воскресенье': {
                          'утро': [],
                          'день': [],
                          'вечер': []
                                      }}

### 24.
Удалите ключи `суббота` и `воскресенье`. Вместо них добавьте пару, где ключ это кортеж `суббота, воскресенье`, а значение – список с делом `посадить цветы на даче`. Можно ли сделать ключ `суббота, воскресенье` списком?

In [106]:
del diary['суббота']
del diary['воскресенье']
diary['суббота', 'воскресенье'] = 'посадить цветы на даче'
# print(diary)

{'понедельник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'вторник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'среда': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'четверг': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'], 'день': [], 'вечер': ['поход в театр', 'ужин в кафе']}, ('суббота', 'воскресенье'): 'посадить цветы на даче'}

### 25.
Добавьте в список дел во вторник утром `поход к зубному`.

In [107]:
diary['вторник']['утро'] += ['поход к зубному']
# print(diary['вторник']['утро'])

['погулять с собакой', 'поход к зубному']

### 26.
Замените `поход в театр` на `поход в кино` в списке дел в пятницу вечером.

In [108]:
friday_evening = diary['пятница']['вечер']
friday_evening.remove('поход в театр')
friday_evening.insert(0, 'поход в кино')
# print(diary['пятница']['вечер'])

['поход в кино', 'ужин в кафе']

### 27.
Ваш друг вернется из отпуска на один день раньше, поэтому он заберет свою собаку в среду, а не в четверг. Удалите дело `погулять с собакой` из соответствующих списков.

In [109]:
del diary['четверг']['утро'][0]
del diary['четверг']['вечер'][0]
# print(diary)

{'понедельник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'вторник': {'утро': ['погулять с собакой', 'поход к зубному'], 'день': [], 'вечер': ['погулять с собакой']}, 'среда': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'четверг': {'утро': [], 'день': [], 'вечер': []}, 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'], 'день': [], 'вечер': ['поход в кино', 'ужин в кафе']}, ('суббота', 'воскресенье'): 'посадить цветы на даче'}

### 28.
Выведите второе дело из списка дел, которые вам нужно сделать в пятницу утром.

In [110]:
print(diary['пятница']['утро'][1])

помыть машину