In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [5]:
phones = pd.read_csv('1.8_phones (1).xls')

In [6]:
phones.head(7)

   disk       os  price  year
0    64  Android   7256  2016
1   128  Android   7623  2015
2    64  Android   1916  2010
3   512      iOS  15045  2017
4    16  Android   4478  2013
5   512      iOS  15842  2018
6   128  Android   7191  2015